<div class="component profil">
	<div class="head skin-2">
		<h2>A propos</h2>
	</div>
	<div class="fix-body">
		<div class="body">
			<div class="center-box">
				<span class="value">{{ get_faction_info(faction.id, 'officialName') }}</span>
				<span class="label">{{ get_faction_info(faction.id, 'devise')|raw }}</span>
			</div>

			<div class="profil-flag color-{{ faction.id }}"><img src="{{ asset('media/ally/big/color' ~ faction.id ~ '.png') }}" alt=""></div>
		</div>
	</div>
</div>
