<div class="component nav">
	<div class="head skin-1">
		<h1>Ambassades</h1>
	</div>
	<div class="fix-body">
		<div class="body">
			{% for f in factions %}
				<a href="{{ path('embassy', {'faction': f.id}) }}" class="nav-element {% if faction.id == f.id %}active{% endif %}">
					<img src="{{ asset('build/media/avatar/small/color-' ~ f.identifier ~ '.png') }}" alt="" />
					<strong>{{ get_faction_info(f.identifier, 'officialName') }}</strong>
					<em>Ambassade des {{ get_faction_info(f.identifier, 'demonym')|capitalize }}</em>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
