<div class="component">
	<div class="head skin-2">
		<h2>Liste des bases</h2>
	</div>
	<div class="fix-body">
		<div class="body">
			{% for base in player_bases %}
				<div class="number-box grey">
					<span class="value">{{ base.name }}</span>
					<span class="label">secteur {{ base.place.system.sector.identifier }}</span>

					<span class="group-link">
						<a href="{{ path('map', {'place': base.place.id }) }}" class="hb lt" title="voir sur la carte">→</a>
					</span>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
