<div class="component profil">
	<div class="head skin-2">
		<h2>Imposition</h2>
	</div>
	<div class="fix-body">
		<div class="body">
			<h4>Impôts courants</h4>

			<ul class="list-type-1">
				{% for sector in faction_sectors %}
					<li>
						<a href="#" class="picto color{{ sector.faction.identifier ?? 0 }}">{{ sector.identifier }}</a>
						<span class="label">{{ sector.name }}</span>
						<span class="value">{{ sector.tax }} %</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
