<div class="component profil">
	<div class="head skin-2">
		<h2>Finance</h2>
	</div>
	<div class="fix-body">
		<div class="body">
			<h4>Richesse</h4>

			<div class="number-box grey">
				<span class="label">Fortune de la faction</span>
				<span class="value">
					{{ faction.credits|number }}
					<img class="icon-color" src="{{ asset('build/media/resources/credit.png') }}" alt="crédits" />
				</span>
			</div>

			<div class="evolution">
				<div class="header">Evolution de la puissance commerciale de la faction sur les 20 derniers segments.</div>
				{# @TODO fix that class name #}
				<div class="diargam">
					{% for ranking in faction_rankings %}
						<span class="progress-bar">
							<span style="width:{{ ranking.wealth|percent(credit_base) }}%;" class="content">
								{{ ranking.wealth|number(-2) }}
							</span>
						</span>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
