<div class="component profil">
	<div class="head">
		<h1>Faction</h1>
	</div>
	<div class="fix-body">
		<div class="body">
			<div class="center-box">
				<span class="value">Meilleure faction</span>
				<span class="label">{{ get_faction_info(best_faction.faction.identifier, 'popularName') }}</span>
			</div>

			<div class="profil-flag color-{{ best_faction.faction.identifier }}">
				<img src="{{ asset('build/media/ally/big/color' ~ best_faction.faction.identifier ~ '.png') }}" alt="" />
			</div>

			<div class="center-box">
				<span class="label">{{ get_faction_info(best_faction.faction.identifier, 'devise') }}</span>
			</div>
		</div>
	</div>
</div>
