<twig:LayoutBox class="min-w-64">
	<header>
		<twig:H2>Meilleure faction</twig:H2>
	</header>
	<section class="mt-4">
		<div class="text-center">
			<span class="">{{ get_faction_info(best_faction.faction.identifier, 'popularName') }}</span>
		</div>

		<div class="flex justify-center mt-2">
			<twig:FactionBanner :faction="best_faction.faction" class="w-16 h-16" />
		</div>

		<div class="mt-4">
			<span class="italic">"{{ get_faction_info(best_faction.faction.identifier, 'devise') }}"</span>
		</div>
	</section>
</twig:LayoutBox>
