<twig:LayoutBox class="min-w-96">
	<header>
		<twig:H2>Informations sur les conditions de victoire</twig:H2>
	</header>

	<section>
		<p>
			Les différents classements (général, richesse et territorial) rapportent des points à la faction chaque jour en fonction de la position de cette dernière dans les classements.
			Ces points sont additionnés et font monter une jauge. Lorsqu'une faction atteint le nombre de point requis, le serveur se termine et la victoire est revendiquée.
		</p>

		<twig:NumberBox label="Points requis pour mettre fin au serveur">
			{{ points_to_win|number }}
		</twig:NumberBox>

		<p>
			Les différents classements n'ont pas tous le même poids.
			Les gain journaliers en fonction du classement et de la position dans ce dernier sont disponibles dans le tableau ci-dessous.
		</p>

		<table class="w-full mt-4 bg-gray-900 rounded-md">
			<thead>
				<tr>
					<th>Position</th>
					<th>1<sup>er</sup></th>
					<th>2<sup>ème</sup></th>
					<th>3<sup>ème</sup></th>
					<th>4<sup>ème</sup></th>
					<th>5<sup>ème</sup></th>
				</tr>
			</thead>
			<tbody class="[&_td]:text-sm">
				<tr class="small-grey text-center">
					<th>Général</th>
					<td>+4</td>
					<td>+3</td>
					<td>+2</td>
					<td>+1</td>
					<td>+0</td>
				</tr>
				<tr class="small-grey text-center">
					<th>Richesse</th>
					<td>+16</td>
					<td>+12</td>
					<td>+8</td>
					<td>+4</td>
					<td>+0</td>
				</tr>
				<tr class="small-grey text-center">
					<th>Territorial</th>
					<td>+20</td>
					<td>+15</td>
					<td>+10</td>
					<td>+5</td>
					<td>+0</td>
				</tr>
			</tbody>

		</table>
	</section>
</twig:LayoutBox>
