<div class="component player rank">
	<div class="head skin-4">
		<img class="main" alt="ressource" src="{{ asset('build/media/rank/cup.png') }}">
		<h2>Richesse</h2>
		<em>Revenu des routes commerciales de la faction</em>
	</div>
	<div class="fix-body">
		<div class="body">
			{% for faction_ranking in wealth_rankings %}
				{{ include('molecules/rankings/faction_ranking_card.html.twig', {
					faction_ranking,
					'value': faction_ranking.wealth|number(-1) ~ ' crédits',
					'position': faction_ranking.wealthPosition,
					'variation': faction_ranking.wealthVariation,
				}) }}
			{% endfor %}
		</div>
	</div>
</div>
