<div class="{{ identifier }} hidden text-xs bg-dark{{ factionIdentifier }} py-1 px-2 border border-medium{{ factionIdentifier }} rounded-md">
	<p>
		{% block content %}{% endblock content %}
	</p>
</div>
