<h5 class="text-base font-bold" style="font-variant-caps: all-small-caps">
	{% if place.typeOfPlace == 1 %}
		{% if place.base is not null %}
			{{ place.base.name }}
		{% else %}
			Planète rebelle
		{% endif %}
	{% else %}
		{{ get_place_type(place.typeOfPlace) }}
	{% endif %}
</h5>
