{% extends 'layouts/demeter/faction.html.twig' %}

{% block page_title 'Sénat' %}

{% block content %}
	<div class="flex gap-x-4">
		{{ include('components/Faction/senate/stats.html.twig') }}
		{% for law in voting_laws %}
			{{ include('molecules/faction/senate/law.html.twig', { law }) }}
		{% endfor %}

		{{ include('components/Faction/senate/historic.html.twig') }}
	</div>
{% endblock %}
