<div class="box hidden" data-map--action-box-target="action" data-id="{{ id }}">
	<h4 class="font-bold">{{ title }}</h4>

	<div class="box-content">
		{% block content %}{% endblock content %}
	</div>
</div>
