<twig:LayoutBox>
	<header>
<!--		<img class="main" alt="ressource" src="{{ asset('build/media/rank/cup.png') }}">-->
		<twig:H2>Armée</twig:H2>
		<twig:H5>Total des PEV</twig:H5>
	</header>
	<section>
		{% for player_ranking in armies_rankings %}
			{{ include('atoms/rankings/top_mover.html.twig', {
				'type': 'armies',
				'current_position': player_ranking.armiesPosition,
				loop,
			}) }}

			{{include('molecules/rankings/player_ranking_card.html.twig', {
				player_ranking,
				'position': player_ranking.armiesPosition,
				'variation': player_ranking.armiesVariation,
				'value': '',
			})}}

			{{ include('atoms/rankings/bottom_mover.html.twig', {
				'type': 'armies',
				'current_position': player_ranking.armiesPosition,
				loop,
			}) }}
		{% endfor %}
	</section>
</twig:LayoutBox>
