<twig:LayoutBox>
	<header>
<!--		<img class="main" alt="ressource" src="{{ asset('build/media/rank/cup.png') }}">-->
		<twig:H2>Trader</twig:H2>
		<twig:H5>Revenu de toutes les routes commerciales par relève</twig:H5>
	</header>
	<section>
		{% for player_ranking in trader_rankings %}
			{{ include('atoms/rankings/top_mover.html.twig', {
				'type': 'trader',
				'current_position': player_ranking.traderPosition,
				loop,
			}) }}

			{{ include('molecules/rankings/player_ranking_card.html.twig', {
				player_ranking,
				'position': player_ranking.traderPosition,
				'variation': player_ranking.traderVariation,
				'value': player_ranking.trader|number ~  ' <img src="' ~ asset('build/media/resources/credit.png') ~ '" class="icon-color" alt="crédits" />',
			})}}

			{{ include('atoms/rankings/bottom_mover.html.twig', {
				'type': 'trader',
				'current_position': player_ranking.traderPosition,
				loop,
			}) }}
		{% endfor %}
	</section>
</twig:LayoutBox>
