<div class="queue">
	{% set next_total_time = 0 %}

	{% set building_queues_count = current_base.buildingQueues|length %}

	{% for building_queue in current_base.buildingQueues %}
		{% set next_total_time = next_total_time + get_building_info(building_queue.buildingNumber, 'level', building_queue.targetLevel, 'time') %}

		{{ include('molecules/base/building_queue.html.twig', {
			building_queues_count,
			building_queue,
			next_total_time,
		}) }}
	{% endfor %}

	{% for i in range(building_queues_count, get_building_info(generator_building_number, 'level', current_base.levelGenerator, 'nbQueues') - 1) %}
		<div class="item empty">
			<span class="picto"></span>
			<strong>Emplacement libre</strong>
			<span class="progress-container"></span>
		</div>
	{% endfor %}
</div>
