{% set line_coord = commander.formatLineCoord %}

<div class="army commanderTransfer w-fit h-[350px] flex flex-col border-r-4 border-dotted border-gray-600">
	<header class="flex">
		{% for i in range(5, 1) %}
			<div class="w-28 text-center font-bold text-lg border-l-4 border-dotted border-gray-600">#{{ i }}</div>
		{% endfor %}
	</header>

	<section id="fleet-squadrons" class="flex grow" data-controller="fleet--squadron" data-fleet--squadron-ship-pevs-value="{{ get_ship_pevs()|json_encode }}">
		{% for i in range(5, 1) %}
			<div class="w-28 flex flex-col items-center border-l-4 border-dotted border-gray-600">
				{% if max(line_coord) >= i %}
					{% set nb_in_column = 0 %}

					{% for k in line_coord|keys %}
						{% set v = line_coord[k] %}

						{% if v == i %}
							{% set nb_in_column = nb_in_column + 1 %}

							<twig:CommanderSquadron :key="k" :commander="commander" :lineCoord="line_coord" />
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</section>
</div>
