<div class="w-96">
	<header>
		<twig:H2>Commerce</twig:H2>
	</header>

	<section class="mt-4">
		<twig:H3>Routes commerciales</twig:H3>

		<twig:NumberBox label="routes commerciales actives">
			{{ rc_data.nb|number }}
		</twig:NumberBox>

		<twig:NumberBox label="revenu total par relève">
			{{ rc_data.income|number }}

			<twig:block name="upper_links">
				<a href="#" title="revenu total encaissé par les joueurs de la faction" class="hb lt">?</a>
			</twig:block>
		</twig:NumberBox>

		<twig:NumberBox label="part du commerce intérieur" :percent="faction_internal_commercial_routes_data.nb|percent(rc_data.nb)">
			{{ faction_internal_commercial_routes_data.nb|percent(rc_data.nb) }} %
		</twig:NumberBox>

		<twig:H3 class="mt-4">Répartition du commerce extérieur</twig:H3>

		{% set total_routes_count = rc_data.nb + faction_internal_commercial_routes_data.nb %}

		{% for faction_id in rc_diplomatic_data|keys %}
			{% set routes_count = rc_diplomatic_data[faction_id] %}

			<twig:NumberBox :label="'routes commerciales avec ' ~ get_faction_info(faction_id, 'popularName')" :percent="routes_count|percent(total_routes_count)">
				{{ routes_count|number }}
			</twig:NumberBox>
		{% endfor %}
	</section>
</div>
