{% if loop.last %}
	<a class="more-item w-full" href="{{ path('view_more_rankings', {'direction': 'prev', type, 'current': current_position }) }}">
		<twig:Button :faction="current_player.faction" class="w-full text-center">
			afficher les joueurs suivants
		</twig:Button>
	</a>
{% endif %}
