<div class="component profil">
	<div class="head skin-1">
		<h1>Election</h1>
	</div>
	<div class="fix-body">
		<div class="body">
			<div class="number-box">
				<span class="label">nombre de candidats</span>
				<span class="value">{{ candidates|length }}</span>
			</div>

			<div class="number-box">
				<span class="label">taux de participation</span>
				<span class="value">{{ votes|length|percent(faction_members|length) }} %</span>
				<span class="progress-bar">
					<span style="width:{{ votes|length|percent(faction_members|length) }}%;" class="content"></span>
				</span>
			</div>

			<hr style="margin-top: 25px;" />

			<p class="info">{{ get_faction_info(current_player.rColor, 'campaignDesc') }}</p>
		</div>
	</div>
</div>
