{% extends 'layouts/athena/current_base.html.twig' %}

{% set generator_building_number = constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::GENERATOR') %}

{% block content %}
	<twig:Headline :title="get_building_info(0, 'frenchName')" subTitle="niveau {{ current_base.levelGenerator }}">
		{{ get_building_info(generator_building_number, 'description')|raw }}
	</twig:Headline>

	<div class="flex flex-col md:flex-row gap-4 md:items-start mt-2">
		<twig:Queues
			queueComponent="BuildingQueue"
			:queues="building_queues"
			:queuesCount="building_queues_count"
			:buildingIdentifier="generator_building_number"
			:buildingLevel="current_base.levelGenerator"
			:speedBonus="generator_speed_bonus"
			:refund="building_resource_refund" />

		<twig:LayoutBox class="grow grid grid-cols-1 md:grid-cols-3 gap-x-2 gap-y-3 md:gap-y-2 lg:gap-4 rounded-r-xl">
			{% for building_identifier in constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::BUILDINGS') %}
				<twig:BuildingCard
					:base="current_base"
					:buildingIdentifier="building_identifier"
					:technology="technology"
					:buildingQueues="building_queues"
					:buildingQueuesCount="building_queues_count" />
			{% endfor %}
		</twig:LayoutBox>
	</div>
{% endblock %}
