{% set break = false %}

<div id="subnav">
	<div class="overflow">
		{% for commander in local_commanders %}
			{% if commander.line == 1 and break == false %}
				<hr />
				{% set break = true %}
			{% endif %}

			{{ component('SelectableFleet', { commander }) }}
		{% endfor %}
	</div>
</div>
