<div class="component">
	<div class="head skin-2">
		<h1>Sénat</h1>
	</div>
	<div class="fix-body">
		<div class="body">
			<div class="number-box">
				<span class="label">Lois en cours de votation</span>
				<span class="value">
					{{ voting_laws|length|number }}
				</span>
			</div>
			{# <p class="info">Infos sur les lois</p> #}
		</div>
	</div>
</div>
