<a href="{{ path(route, params) }}" class="item {% if app.request.get('_route') == route %}active{% endif %}">
	<span class="picto">
		{% if picto is not null %}
<!--				<img src="{{ asset(picto) }}" alt="" />-->
		{% endif %}
	</span>
	<span class="content skin-1">
		<span>{{ label }}</span>
	</span>
</a>
