body {
	width: 100%; height: 100%;
	overflow: hidden;
	background: black;
}

#container {
	position: absolute;
	top: 104px;
	left: 0;
	margin: 0; padding: 0;
	width: 100%;
	height: 100%;
	background: black;
	overflow: hidden;
	background: url('../../css-media/global/background.jpg') repeat-x black;
}

.icon, .icon-color {
	display: inline-block;
	vertical-align: bottom;
	padding: 2px;
	.border-radius(100%);
}

.icon-color {
	background: @light !important;
}

#background-paralax {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: no-repeat bottom left transparent;
	z-index: 100;

	// default
	background-image: url('../../css-media/screen/profil.jpg');

	&.profil		{ background-image: url('../../css-media/screen/profil.jpg'); }
	&.message		{ background-image: url('../../css-media/screen/message.jpg'); }
	&.fleet			{ background-image: url('../../css-media/screen/fleet.jpg'); }
	&.financial		{ background-image: url('../../css-media/screen/financial.jpg'); }
	&.technology	{ background-image: url('../../css-media/screen/profil.jpg'); }
	&.rank			{ background-image: url('../../css-media/screen/profil.jpg'); }
	&.params		{ background-image: url('../../css-media/screen/profil.jpg'); }
	&.bases			{ background-image: url('../../css-media/screen/base.jpg'); }
}

#movers {
	a {
		position: absolute;
		width: 60px;
		height: 100%;
		z-index: 400;
		background: red;

		.transition(all linear 100ms);

		&:hover, &:focus {
			background-color: rgba(255, 255, 255, .08);
		}

		&:active {
			background-color: rgba(255, 255, 255, .2);
		}
	}

	.toLeft {
		top: 0; left: 60px;
		background: url('../../css-media/mover/left.png') no-repeat center transparent;
	}
	.toRight {
		top: 0; right: 0;
		background: url('../../css-media/mover/right.png') no-repeat center transparent;
	}
}

.faction-bg-lt {
	background-color: @light;
}

.faction-bg-md {
	background-color: @medium;
}

.faction-bg-dark {
	background-color: @dark;
}

.faction-bd-lt {
	border-color: @light;
}

.faction-bd-md {
	border-color: @medium;
}

.faction-bd-dark {
	border-color: @dark;
}

.faction-text-color {
	color: @light;
}

.faction-text-color-disabled {
	color: @dark;
}

