<twig:LayoutBox class="component new-message">
	<header>
		<twig:H2>Envoyer à un joueur</twig:H2>
	</header>

	<section>
		<form action="{{ path('send_credits_to_player') }}" method="post">
			<p><label for="send-credit-target">Destinataire</label></p>
			<p class="input input-text">
				<input type="hidden" class="autocomplete-hidden" name="playerid" />
				<twig:Input type="text" id="send-credit-target" class="autocomplete-player" name="name" />
			</p>

			<p><label for="send-credit-credit">Nombre de crédit</label></p>
			<p class="input input-text"><twig:Input type="text" id="send-credit-credit" name="quantity" /></p>

			<p><label for="send-credit-message">Votre message (* facultatif)</label></p>
			<p class="input input-area"><twig:Textarea id="send-credit-message" name="text"></twig:Textarea></p>

			<twig:Button type="submit" :faction="current_player.faction">
				Envoyer
			</twig:Button>
		</form>
	</section>
</twig:LayoutBox>
