<twig:LayoutBox class="col-span-1">
	<header>
		<h2 class="font-bold text-lg">Archives d'espionnage</h2>
	</header>
	<div class="fix-body">
		<div class="body">
			<div class="tool">
				<span><a href="{{ path('delete_all_spy_reports') }}">tout supprimer</a></span>
			</div>
			{% if spy_reports|length > 0 %}
				<div class="flex flex-col gap-y-2 mt-4">
					{% for spy_report in spy_reports %}
						<twig:SpyReportListItem :spyReport="spy_report" :isActive="app.request.query.get('report') == spy_report.id or (not app.request.query.has('report') and loop.index == 1)" />
					{% endfor %}
				</div>
			{% else %}
				<p>Il n'y a aucun rapport d'espionnage dans vos archives.</p>
			{% endif %}
		</div>
	</div>
</twig:LayoutBox>
