{% if faction and not disabled %}
	{% set extra_classes = 'border-dark' ~ faction.identifier ~ ' bg-medium' ~ faction.identifier %}
{% elseif disabled %}
	{% set extra_classes = 'bg-gray-800 border-gray-700' %}
{% endif %}

<button {{ attributes.defaults({
	type: 'button',
	class: 'block py-1 px-2 md:py-2 md:px-4 rounded-md shadow-xs hover:shadow-md border text-white text-left text-sm md:text-base %s'|format(extra_classes|default('')),
}) }}>
	{% block content %}{% endblock content %}
</button>
