<div {{ attributes.defaults({
	class: 'flex flex-wrap items-baseline justify-between text-white rounded-xs' ~ this.boxSize,
}) }}>
	<dt class="hidden md:block text-sm/6 font-medium text-gray-300">{{ label }}</dt>
	{% if bonus is not null and bonus != 0 %}
		<dd class="text-xs font-medium text-gray-200">
			{{ bonus }}
		</dd>
	{% endif %}
	<dd class="w-full flex-none text-sm {{ this.numberSize }} font-medium tracking-tight text-gray-100">
		{% block content %}{% endblock content %}
	</dd>
</div>
