<div {{ attributes.defaults({
	class: 'progress-bar overflow-hidden rounded-full bg-dark' ~ faction.identifier,
}) }}>
	<div class="h-2 rounded-full bg-light{{ faction.identifier }}"
		 style="width: {{ this.width }}%">
	</div>
</div>
