<div class="component topic size2">
	<div class="head skin-2">
		<h2>Création d'un nouveau sujet</h2>
	</div>
	<div class="fix-body">
		<div class="body">
			<div class="message write">
				<img src="{{ asset('build/media/avatar/medium/' ~ current_player.avatar ~ '.png') }}" alt="{{ current_player.name }}" class="avatar" />
				<div class="content">
					<form action="{{ path('create_forum_topic', { forumId }) }}" method="POST">
						<input class="title" type="text" name="title" placeholder="sujet" />

						<div class="wysiwyg" data-id="new-topic-wysiwyg">
							{{ get_parser_toolbar()|raw }}

							<textarea name="content" id="new-topic-wysiwyg" placeholder="Votre message"></textarea>
						</div>

						<button>Créer le sujet</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
