<div class="component panel-info">
	<div class="head"></div>
	<div class="fix-body">
		<div class="body">
			<h4>' . $name . '</h4>
			<a href="#" class="removeInfoPanel remove-info hb lt" title="fermer le panneau">x</a>

			<p class="info">' . $shortDescription . '</p>

			<div class="table">
				<table>
					<tr>
						<td class="hb lt" title="coût de recherche en ressource">coût en ressource</td>
						<td>' . Format::numberFormat($resource) . ' <img src="{{ asset('build/media/resources/resource.png') }}" alt="ressource" class="icon-color" /></td>
					</tr>
					<tr>
						<td class="hb lt" title="coût de recherche en crédit">coût en crédit</td>
						<td>' . Format::numberFormat($credit) . ' <img src="{{ asset('build/media/resources/credit.png') }}" alt="credit" class="icon-color" /></td>
					</tr>
					<tr>
						<td class="hb lt" title="temps de recherche (heures:minutes:secondes)">temps</td>
						<td>' . Chronos::secondToFormat($time, 'lite') . ' <img src="{{ asset('build/media/resources/time.png') }}" alt="relève" class="icon-color" /></td>
					</tr>
					<tr>
						<td class="hb lt" title="points que rapporte la recherche de la technologie au joueur">points</td>
						<td>' . Format::numberFormat($points) . '</td>
					</tr>
				</table>
			</div>

			# description
			<h4>Prérequis pour le prochain niveau</h4>
			<p class="info">
				Technosphère, niv. ' . $technosphere . '<br />
				foreach ($researchList as $research) {
				echo $research[0] . ', niv. ' . $research[1];
				echo $research[2] ? '<img class="requierement" src="{{ asset('build/media/resources/check.png') }}" alt="" />' : NULL;
				<br />
				}
				</p>

			# description
			<h4>Description</h4>
			<p class="info">' . $description . '</p>
			</div>
		</div>
	</div>
