<a href="{{ href }}" target="_blank" class="flex items-center gap-x-4">
	<img class="w-6 lg:w-12 object-contain" src="{{ asset(iconPath) }}" alt="{{ iconAlt }}">
	<span class="text-white text-sm lg:text-lg">
		{{ label }}
	</span>
</a>
