<twig:LayoutBox class="col-span-1 row-start-2">
	<header>
		<twig:H2>Transactions</twig:H2>
	</header>

	<section class="mt-4">
		<twig:CommercialShippingAvailableShipsCount :maxShips="max_ships" :usedShips="commercial_shippings.used_ships"/>

		<twig:H4 class="mt-4">Convoi en route</twig:H4>

		<div class="flex flex-col gap-y-2 mt-2">
			{% for commercial_shipping in commercial_shippings['outgoing'][constant('App\\Modules\\Athena\\Model\\CommercialShipping::ST_GOING')] %}
				{{ include('molecules/base/trade/commercial_shipping.html.twig', { commercial_shipping }) }}
			{% endfor %}
		</div>

		<hr class="my-2" />

		<twig:H4>Retour de convoi</twig:H4>

		<div class="flex flex-col gap-y-2 mt-2">
			{% for commercial_shipping in commercial_shippings['outgoing'][constant('App\\Modules\\Athena\\Model\\CommercialShipping::ST_MOVING_BACK')] %}
				{{ include('molecules/base/trade/commercial_shipping.html.twig', { commercial_shipping }) }}
			{% endfor %}
		</div>

		<hr class="my-2" />

		<twig:H4>Convoi à quai</twig:H4>

		<div id="waiting-commercial-shippings" class="flex flex-col gap-y-2 mt-2">
			{% for commercial_shipping in commercial_shippings['outgoing'][constant('App\\Modules\\Athena\\Model\\CommercialShipping::ST_WAITING')] %}
				{{ include('molecules/base/trade/commercial_shipping.html.twig', { commercial_shipping }) }}
			{% endfor %}
		</div>

	</section>
</twig:LayoutBox>
